<div class="admin_form_position">
    <mat-card fxFlex="50">
        <mat-toolbar color="primary">Employee Privileges</mat-toolbar>
    
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/emp_update" target="_blank">UPDATE DETAILS</a> 
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/view_emp_detail" target="_blank">VIEW EMPLOYEE INFORMATION</a>  
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/view_emp_salary" target="_blank">VIEW SALARY DETAILS</a>  
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/view_admin_req" target="_blank">VIEW ADMIN REQUEST</a>  
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/emp_pwd_cng" target="_blank">Change Password</a>  
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="#" target="_blank">Log Out</a>  
    </mat-card>
</div>
