<div class="admin_form_position">
    <mat-card fxFlex="100">
        <mat-toolbar color="primary">Customer Privileges</mat-toolbar>
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/view_status" target="_blank">DILEVERY STATUS</a>  
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/cust_query" target="_blank">QUERY TO ADMINISTRATOR</a>  
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/cust_pwd_cng" target="_blank">CHANGE PASSWORD</a>  
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="#" target="_blank">Log Out</a>  
    </mat-card>
</div>
