
<div class="admin_form_position">

    <mat-card fxFlex="100">
      <mat-toolbar color="primary">VIEW COURIER BOOKING INFORMATION</mat-toolbar>
      <div>
        <table fxFlex="100" border="1">
          <thead>
            <tr>
              <th scope="col">ParselNo</th>
              <th scope="col">Name</th>
              <th scope="col">Email-Id</th>
              <th scope="col">Delivery Date</th>
              <th scope="col">Destination_Address</th>
              <th scope="col">Src_contact</th>
              <th scope="col">Dest_contact</th>
              <th scope="col">App.Wt.</th>
              <th scope="col">Send Employee</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#1001#</td>
              <td>Anmol Kumar</td>
              <td>anmol.lkce10@gmail.com</td>
              <td>19/06/20202</td>
              <td><textarea rows="3" cols="15" disabled> Virtusa pvt. ltd.</textarea></td>
              <td>9971427661</td>
              <td>9833280633</td>
              <td>200</td>
              <td> <a mat-button fxLayout="column" class="btn_color" href="#" target="_blank">SEND</a>  </td>
            </tr>
            <tr>
                <td>#1002#</td>
                <td>Amit Kumar</td>
                <td>amit10@gmail.com</td>
                <td>19/06/20202</td>
                <td><textarea rows="3" cols="15" disabled> Virtusa pvt. ltd.</textarea></td>
                <td>9971427661</td>
                <td>9833280633</td>
                <td>200</td>
                <td> <a mat-button fxLayout="column" class="btn_color" href="#" target="_blank">SEND</a>  </td>
              </tr>
              <tr>
                <td>#1003#</td>
                <td>Sumit Kumar</td>
                <td>sumit@gmail.com</td>
                <td>19/06/20202</td>
                <td><textarea rows="3" cols="15" disabled> Virtusa pvt. ltd.</textarea></td>
                <td>9971427661</td>
                <td>9833280633</td>
                <td>200</td>
                <td> <a mat-button fxLayout="column" class="btn_color" href="#" target="_blank">SEND</a>  </td>
              </tr>
            </tbody>
        </table>
      </div>    
      
    </mat-card>
    
  </div>
  
  