
<div class="admin_form_position">

    <mat-card fxFlex="100">
      <mat-toolbar color="primary">View Employee Details</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" action="#"> 
        <div fxLayout="column" fxLayoutAlign="stretch">
        <mat-form-field>
          <input matInput placeholder="Enter Employee ID">
        </mat-form-field>
      
        <button mat-raised-button class="btn_color" type="submit">View Details</button>
        </div>
      
      <div fxLayout="column" fxLayoutAlign="stretch">
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="#" target="_blank">View All Employee Details</a> 
    </div>
      </form>

      <div>
        <table fxFlex="100" border="1">
          <thead>
            <tr>
              <th scope="col">EmployeeId</th>
              <th scope="col">Name</th>
              <th scope="col">EmailId</th>
              <th scope="col">Mobile Number</th>
              <th scope="col">Permanent Address</th>
              <th scope="col">Gender</th>
              <th scope="col">Date of Birth</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1001</td>
              <td>Anmol Kumar</td>
              <td>anmol.lkce10@gmail.com</td>
              <td>9971427661</td>
              <td><textarea rows="3" cols="15" disabled> GLBITM, Greater Noida</textarea></td>
              <td>Male</td>
              <td>15/02/1981</td>
            </tr>
            </tbody>
        </table>
      </div>    
      
    </mat-card>
    
  </div>
  
  

  

  