<div class="admin_form_position">
    <mat-card fxFlex="50">
        <mat-toolbar color="primary">ADMINISTRATOR  Privileges</mat-toolbar>
    
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/emp_reg" target="_blank">EMPLOYEE REGISTRATION</a>
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/emp_details" target="_blank">EMPLOYEE DETAILS</a>
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/emp_cal_sal" target="_blank">CALCULATE EMPLOYEE SALARY</a>
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/emp_sal_details" target="_blank">EMPLOYEE SALARY DETAILS</a>
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/emp_delete" target="_blank">DELETE EMPLOYEE</a>
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/cust_req_view" target="_blank">VIEW CUSTOMER REQUEST</a>
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/view_cust_query" target="_blank">CUSTOMER QUERY</a>
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="/admin_pwd_cng" target="_blank">CHANGE PASSWORD</a>  
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="#" target="_blank">Log Out</a>  
    </mat-card>
</div>
