
<div class="admin_form_position">

    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Employee Login</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" action="/emp_home"> 
        <mat-form-field>
          <input matInput placeholder="Employee_ID">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput  type="password" placeholder="password">
        </mat-form-field>
        <button mat-raised-button class="btn_color" type="submit">Login</button>
      </form>
    </mat-card>
  </div>
  