
<div class="admin_form_position">

    <mat-card fxFlex="100">
        <mat-toolbar color="primary">EMPLOYEE PERSONAL INFORMATION</mat-toolbar> 
      <form fxLayoutAlign="stretch" fxLayout="column" action="#"> 
        <div fxLayout="row" fxLayoutAlign="stretch">
            <mat-form-field>
              <input matInput disabled placeholder="EMPLOYEE_ID">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="stretch">
        <mat-form-field>
          <input matInput disabled placeholder="FirstName">
        </mat-form-field>
        <mat-form-field>
            <input matInput disabled placeholder="MiddleName">
        </mat-form-field>
        <mat-form-field>
            <input matInput disabled placeholder="LastName">
        </mat-form-field>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="stretch">
        <mat-form-field>
          <input matInput type="email" disabled placeholder="Email Id">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" disabled placeholder="Contact Number">
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field>
            <input matInput type="date" disabled placeholder="Date of Birth">
        </mat-form-field>
    </div>
    <div fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>Permanent Address</mat-label>
            <textarea matInput disabled rows="5"></textarea>
        </mat-form-field>
    </div>
   
    <div fxLayout="column">
        <button mat-raised-button class="btn_color" type="submit">ok</button>
    </div>
      </form>
    </mat-card>
  </div>
  