
<div class="admin_form_position">

    <mat-card fxFlex="100">
      <mat-toolbar color="primary">View Customer Query Information</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" action="#"> 
        <div fxLayout="column" fxLayoutAlign="stretch">
        <mat-form-field>
          <input matInput placeholder="Enter Employee ID">
        </mat-form-field>
      
        <button mat-raised-button class="btn_color" type="submit">View Query</button>
       </div>
      
      <div fxLayout="column" fxLayoutAlign="stretch">
        <a mat-raised-button fxLayout="column" class="link_priviliges" color="primary" href="#" target="_blank">View All Customer Query</a> 
    </div>
      </form>
    </mat-card>
  </div>
  