.admin_form_position mat-card{
    position: absolute;
    left:350px; top:200px;
    text-align: center;
     
}

.btn_color{
    background-color: gray;
    margin-bottom: 40p;
}

.link_priviliges{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color:black;
}

