
<div class="admin_form_position">

    <mat-card fxFlex="25">
      <mat-toolbar color="primary">CHANGE PASSWORD</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" action="/admin_home"> 
        <mat-form-field>
          <input matInput type="password" placeholder="Enter Old Password">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput  type="password" placeholder="Enter New Password">
        </mat-form-field>
        
      <mat-form-field>
        <input matInput  type="password" placeholder="Re-Enter Password">
      </mat-form-field>
      <button mat-raised-button class="btn_color" type="submit">Save Change</button>
    </form>
    </mat-card>
  </div>
  