
<div class="admin_form_position">

    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Customer Login</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" action="/cust_home"> 
        <mat-form-field>
          <input matInput placeholder="Customer_ID">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput  type="password" placeholder="password">
        </mat-form-field>
        <button mat-raised-button class="btn_color" type="submit">Login</button>
        <a mat-raised-button fxLayout="column" class="link_priviliges" href="/cust_register" target="_blank">Sign Up</a>  
      </form>
    </mat-card>
  </div>
  