
<div class="admin_form_position">

    <mat-card fxFlex="100">
      <mat-toolbar color="primary">EMPLOYEE SALARY INFORMATION</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" action="#"> 
        <div fxLayout="row" fxLayoutAlign="stretch">
        <mat-form-field>
          <input matInput disabled placeholder="Emoloyee Name">
        </mat-form-field>
       </div>
    <div fxLayout="row" fxLayoutAlign="stretch">
        <mat-form-field>
            <input matInput disabled placeholder="Enter Month">
          </mat-form-field>
    </div>         
    <div fxLayout="row" fxLayoutAlign="stretch">
        <mat-form-field>
          <input matInput type="email" disabled placeholder="Email Id">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" disabled placeholder="Contact Number">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch">
        <mat-form-field>
          <input matInput type="number" disabled placeholder="Enter Basic Salary">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" disabled placeholder="Enter D.A.">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" disabled placeholder="Enter H.R.A.">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch">
        <mat-form-field>
          <input matInput type="number" disabled disabled placeholder="Total Salary">
        </mat-form-field>
    </div>
   
    <div fxLayout="column">
        <button mat-raised-button class="btn_color" type="submit">ok</button>
    </div>
      </form>
    </mat-card>
  </div>
  